<!-- <input type="file" class="file-upload" onchange="console.log(event.target.files)"> -->
<!-- <div class="container" appDnd (fileDropped)="onFileDropped($event)">
    <input type="file" #fileDropRef id="fileDropRef" multiple="false" (change)="fileBrowseHandler($event)"
        accept="file_type | audio/* | video/* | image/* | media_type" />
    <i class="material-icons">attach_file</i>
    <h3>Drag and drop file here</h3>
    <h3>or</h3>
    <label for="fileDropRef">Browse for file</label>
</div> -->
<!------------------>
<!-- <div class="files-list">
    <div class="single-file" *ngFor="let file of files,imgs let i = index">
        <img [src]="imgs" alt="" width="60">
        <div class="info">
            <h4 class="name"> {{ file?.name }} </h4>
        </div>
        <div class="delete" (click)="deleteFile(i)">
            <i class="material-icons">delete</i>
        </div>
    </div>
</div> -->
<!-- <input type="file" class="file-upload" onchange="console.log(event.target.files)"> -->
<div class="container" appDnd (fileDropped)="fileChangeEvent($event)">
    <input type="file" #fileDropRef id="fileDropRef" multiple="false" (change)="fileChangeEvent($event)"
        accept="file_type | audio/* | video/* | image/* | media_type" />
    <i class="material-icons">attach_file</i>
    <h3>Drag and drop file here</h3>
    <h3>or</h3>
    <label for="fileDropRef">Browse for file</label>
</div>
<!--------------->
<!-- <input type="file" (change)="fileChangeEvent($event)" /> -->
<image-cropper
    [imageChangedEvent]="imageChangedEvent"
    [maintainAspectRatio]="true"
    [aspectRatio]="4 / 3"
    format="png"
    (imageCropped)="imageCropped($event)"
    (imageLoaded)="imageLoaded($event)"
    (cropperReady)="cropperReady()"
    (loadImageFailed)="loadImageFailed()"></image-cropper>
<img [src]="croppedImage" />