<h1>Url-Shortner</h1>

<br><br>


<section class="container">
  <div class="progress-loader">
    <mat-progress-bar mode="indeterminate" color="accent" *ngIf="isLoading"></mat-progress-bar>
  </div>

  <form #urlForm="ngForm" novalidate autocomplete="off">
    <div class="input-group mb-3">
      <input type="url" name="inputUrl" class="form-control" [(ngModel)]="model.inputUrl"
        placeholder="Paste Your Url Here..." required>
      <div class="input-group-append">
        <button class="btn btn-success short-btn" [disabled]="urlForm.invalid" type="button"
          (click)="onSubmitUrl(urlForm)">
          {{isLoading ? 'Generating...' : 'Generate URL'}}
        </button>
      </div>
    </div>
  </form>

  <div class=" short-url-div">
    <h2>Generate URL Link</h2>
    <a [href]="shortenedUrl" target="_blank" title="Click Me">{{shortenedUrl}}</a>
  </div>

  <div class="short-url-btn">
    <button class="btn btn-primary mr-4" (click)="copyUrl($event)">{{isTextCopied? 'Copied':
      'Copy'}}</button>
    <button class="btn btn-danger" (click)="reset()">Reset</button>
  </div>
</section>







<!-- npm i ng-tiny-url -->